/desktop.ini
/Flyer Reclutamiento Evidencia.jpeg
/Flyer Reclutamiento.jpeg
/Git-2.47.0.2-64-bit.exe
/Mini Proyecto Bonus de Practica.xlsx
/Mini Proyecto Bonus.xlsx
/oh-my-git-windows
/oh-my-git-windows.zip
/OneDrive_2024-11-25.zip
/TOEIC Secure Browser.exe